---
import { marked } from 'marked'
import { format, parseISO } from 'date-fns'
import slugify from 'slugify'
import { getAwards } from '@api/index'

let awards = await getAwards()

awards = awards.map(award => {
  return {
    ...award,
    formattedDate: format(parseISO(award.date), 'MMM yyyy')
  }
})
---

<ul class="grid grid-cols-1 m-4 ml-0 list-none gap-x-12 gap-y-8 sm:grid-cols-2 print:block print:mt-4 print:columns-2">
  {awards.map(award =>
  <li id={slugify("Awards "+award.event+" "+award.formattedDate)}
        class="flex flex-col pl-0 my-0  group print:mt-4 print:first:mt-0 print:break-inside-avoid">
    <div class="flex flex-wrap items-center justify-between">
      <h3 class="my-0">
        <a href={ award.link } target="_blank" class="font-medium no-underline">{award.event}
          <span class="hidden text-sm print:inline">
            ( {award.link.replace(/^https?:\/\//, "")} )
          </span>
        </a>
      </h3>
      <span class="text-sm text-slate-500">{ award.formattedDate }</span>
    </div>
    <div class="flex items-center gap-2 text-slate-500 print:text-base">
      <iconify-icon icon={award.icon} class="flex-shrink-0 w-4 h-4" width="16" height="16" />
      <span>{ award.result }</span>
    </div>
    <div set:html={marked.parseInline(award.description)} />
  </li>
  )}
</ul>