---
import slugify from 'slugify'
import { format, parseISO } from 'date-fns'
import { getContributions } from '@api/index'

let contributions = await getContributions()

contributions = contributions.map(contribution => {
  return {
    ...contribution,
    formattedFrom: format(parseISO(contribution.from), 'MMM yyyy'),
    formattedTo: contribution.to && format(parseISO(contribution.to), 'MMM yyyy')
  }
})
---

<ul role="list"
  class="grid grid-cols-1 m-4 ml-0 list-none gap-x-12 gap-y-8 sm:grid-cols-2 print:block print:mt-4 print:columns-2">
  {contributions.map(contribution =>
  <li id={slugify("Contributions "+contribution.event+" "+contribution.title)}
        class="flex flex-col pl-0 my-0  group print:mt-4 print:first:mt-0 print:break-inside-avoid">
    <div class="flex flex-col sm:justify-between sm:flex-row gap-x-2">
      <h3 class="my-0">
        <a href={ contribution.link } target="_blank" class="font-medium no-underline">{contribution.event}
          <span class="hidden text-sm print:inline">
            ( {contribution.link.replace(/^https?:\/\//, "")} )
          </span>
        </a>
      </h3>
      <span class="text-sm sm:mt-0.5 text-slate-500 shrink-0">{contribution.formattedFrom === contribution.formattedTo ?
        contribution.formattedTo :
        `${contribution.formattedFrom} →
        ${contribution.formattedTo || 'present'}`}</span>
    </div>
    <span class="text-slate-500 print:text-base">{ contribution.role }</span>
    <div>{ contribution.title }</div>
  </li>
  )}
</ul>