---
import slugify from 'slugify'
import { marked } from 'marked'
import { getMeta, getProjects } from '@api/index'

const meta = await getMeta()

const projects = await getProjects()

const github = meta?.github || ''
---

<ul role="list" class="flex flex-col m-4 ml-0 list-none gap-y-8 print:block print:mt-4 print:columns-1">
  {projects.map(project =>
  <li id={slugify("Projects "+project.name)}
      class="flex pl-0 my-0  group print:mt-4 print:first:mt-0 print:break-inside-avoid">
    <div class="flex items-center justify-between flex-1 rounded-r-md">
      <div class="flex-1">
        <h3 class="my-0">
          <a href={ project.link } target="_blank" class="font-medium no-underline">{project.name}
            <span class="hidden text-sm print:inline">
              ( {project.link.replace(/^https?:\/\//, "")} )
            </span>
          </a>
        </h3>
        <div class="mt-1 break-words text-slate-400" set:html={marked.parseInline(project.description)} />
        <div class="flex flex-wrap gap-2 mt-2">
          {project.technologies.map(technologie => {
          return <span class="pill">
            {technologie.technologies_id.name}
          </span>
          })}
        </div>
      </div>
    </div>
  </li>
  )}
  <li class="pl-0 my-0 print:mt-4">
    <a href={github} target="_blank" class="font-medium no-underline">View
      more projects
      on
      Github <span class="hidden print:inline">[ {github.replace(/^https?:\/\//, "")} ]</span>
      <span class="print:hidden">&rarr;</span></a>
  </li>
</ul>