---
import EditorLayout from "@layouts/EditorLayout.astro"
import Introduction from "@components/Introduction.astro"
import { getLinks } from "@api/index"
import { Link } from "@utils/types"

const links = await getLinks()

const current_tab = links.find(link => link.name === "Home") as Link

const tabs = [
  current_tab
]
---

<EditorLayout current_tab={current_tab} extension="index" links={links} tabs={tabs} print>
  <Introduction />
  <div class="flex items-center gap-2 m-4">
    <div
      class="flex items-center justify-center bg-slate-400 rounded-full w-3.5 h-3.5 text-[0.76rem] text-gray-700 select-none">
      â†</div>
    <span>Use the links to learn more about me.</span>
  </div>
</EditorLayout>