---
import slugify from "slugify"
import awards from "../data/awards.json"
---

<div>
  <div
    class="grid grid-cols-1 mt-6 gap-x-12 gap-y-4 sm:grid-cols-2 print:block print:mt-4 print:gap-x-6 print:columns-2">
    {awards.map(award =>
    <div id={slugify("Awards "+award.event+" "+award.date)}
        class=" px-4 py-3 border rounded-md shadow-sm print:shadow-none border-slate-200 group print:mt-4
      print:first:mt-0 print:break-inside-avoid">
      <div class="flex items-center" title={ award.result }>
        <div class={`i-${award.icon} w-10 h-10 flex-shrink-0 transition bg-white grayscale print:grayscale-0
          group-hover:grayscale-0`} />
        <div class="w-full ml-6">
          <div class="flex flex-wrap items-center justify-between">
            <h3 class="my-0">{ award.event }</h3>
            <span class="text-sm text-gray-500">{ award.date }</span>
          </div>
          <div class="text-gray-400" set:html={award.description}></div>
        </div>
      </div>
    </div>
    )}
  </div>
</div>