---
import slugify from "slugify"
import { contributions } from "@data/contributions.json"
---

<div>
  <ul role="list"
    class="grid grid-cols-1 pl-0 mt-6 list-none gap-x-12 gap-y-4 sm:grid-cols-2 print:block print:mt-4 print:columns-2">
    {contributions.map(contribution =>
    <li id={slugify("Contributions "+contribution.event+" "+contribution.title)}
        class=" pl-0 my-0 group print:mt-4 print:first:mt-0 print:break-inside-avoid">
      <div class="flex flex-col sm:items-center sm:justify-between sm:flex-row gap-x-2">
        <h3 class="my-0">{ contribution.event }</h3>
        <span class="text-sm text-gray-500">{contribution.from === contribution.to ? contribution.to :
          `${contribution.from} →
          ${contribution.to || 'present'}`}</span>
      </div>
      <span class="px-2 py-1 text-sm text-gray-500 border rounded-lg border-b-3 select-none print:shadow-none border-slate-200">{
        contribution.role }</span>
      <div class="text-gray-500">{ contribution.title }</div>
    </li>
    )}
  </ul>
</div>