---
import MarkdownIt from "markdown-it"
import {
  first_name,
  last_name
} from "@data/meta.json"
import { links } from "@data/links.json"
import { introduction, avatar } from "@data/intro.json"

const md = MarkdownIt({
  html: true,
  linkify: true,
  typographer: true
})
---

<div class="group">
  <img class="float-left w-14 h-14 mr-4 transition-all rounded-md scale-x-[-1]" src={avatar} alt="Profile Picture"
    loading="lazy">
  <div class="text-justify" set:html={md.renderInline(introduction)} />
</div>