---
import MarkdownIt from 'markdown-it'
import { getIntroduction } from '@api/index'

const intro = await getIntroduction()

const md = MarkdownIt({
  html: true,
  linkify: true,
  typographer: true,
})

---

<div class="m-4">
  <img class="float-left w-14 h-14 mr-4 transition-all rounded-md scale-x-[-1]"
    src={`${import.meta.env.DIRECTUS_URL}assets/${intro.avatar}/avatar.jpg`} alt="Avatar" loading="lazy">
  <div set:html={md.render(intro.introduction)} />
</div>