---
import slugify from "slugify"

export interface Props {
  title: string;
  icon: string;
}

const { title, icon } = Astro.props as Props;
---

<div id={slugify(title)} class="mt-8 print:mt-4">
  <div class="relative flex items-center justify-start gap-4">
    <div class={`i-${icon} bg-[length:100%_100%] w-6 h-6`} />
    <h2 class="my-0 font-medium capitalize">{title}</h2>
    <div class="w-full border-t border-gray-300"></div>
  </div>
  <slot></slot>
</div>