<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta name="keywords" content="{{ delimit .Site.Params.keywords ", " }}" />
  <meta name="author" content="{{ .Site.Params.full_name }}" />
  <meta name="copyright" content="{{ .Site.Params.full_name }}" />
  <meta name="robots" content="follow" />

  <meta property="og:title" content="{{ .Site.Title }}">
  <meta property="og:type" content="profile" />
  <meta property="og:description" content="{{ .Site.Params.description }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}img/profile.jpg">
  <meta property="og:url" content="{{ .Site.BaseURL }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  <meta name="twitter:image:alt" content="{{ .Site.Params.full_name }} Profile Picture">
  <meta name="profile:first_name" content="{{ .Site.Params.first_name }}">
  <meta name="profile:last_name" content="{{ .Site.Params.last_name }}">
  <meta name="profile:username" content="{{ .Site.Params.username }}">
  <meta name="profile:gender" content="{{ .Site.Params.gender }}">

  <link rel="preload" href="{{ "/css/app.css" | relURL }}?v={{ .Site.Params.css_version }}" as="style">
  <link rel="preload" href="https://rsms.me/inter/inter.css" as="style">
  <link rel="preload" href="https://code.iconify.design/2/2.2.1/iconify.min.js" as="script">

  <link rel="stylesheet" href="{{ "/css/app.css" | relURL }}?v={{ .Site.Params.css_version }}" type="text/css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" type="text/css">
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js" defer init></script>

  <title>{{ .Site.Title }}</title>
</head>